html,
body {
 height: 100%;
}
body {
 background-size: 25%;
 background-image: url('./images/FifaQatarLogo.png');
 
}

h2{
  font-family: ‘Share Tech Mono’, monospace;
 color: #8a1538;
 text-align: center;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -500%);
 color: #8a1538;
 text-shadow: 0 0 20px rgb(230, 10, 47), 0 0 20px rgba(10, 175, 230, 0);
 
}

span {
 margin: 0;
 padding: 0;
}
.timer {
 font-family: ‘Share Tech Mono’, monospace;
 font-size: 15px;
 color:  #8a1538;
 text-align: center;
 position: absolute;
 left: 50%;
 top: 67%;
 transform: translate(-50%, -50%);
 color:#8a1538;
 text-shadow: 0 0 20px  rgb(230, 10, 47), 0 0 20px rgba(10, 175, 230, 0);
}
.field {
 display: inline-flex;
 align-items: center;
 margin-right: 20px;
}
.value {
 letter-spacing: 0.05em;
 font-size: 80px;
 padding: 5px 0;
}